hr {
	margin: 10px 0;
}

.welcome {
	margin-top: 100px;
	font-size: 35px;
}

.order-title {
	margin-top: 75px;
	font-size: 25px;
	cursor: pointer;
	color: #333;
	transition: 0.3s;
}

.order-title:hover {
	color: #888;
}

.order-btn {
	background-color: #FAFAFA;
	cursor: pointer;
	color: #5595FF;
	float: right;
	display: inline-block;
	padding: 12.5px 20px;
}

.order-btn:hover {
	background-color: #5595FF;
	color: #FAFAFA;
}

.order-wrapper {
	width: 100%;
	background-color: #FFF;
	border-radius: 20px;
	box-shadow: 1px 1px 6px #BBB;
}

.order-wrapper:hover {
	box-shadow: 3px 3px 12px #CCC;
}

.nothing {
	text-align: center;
	padding: 20px 0;
}

.guide {
	margin-top: 20px;
}

.guide-text {
	margin: 5px 0;
}

.expand-symbol {
	float: right;
}