<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }} | Great Gates</title>
		<meta charset="utf-8">
		<link rel='stylesheet' href='/static/styles/base.css'>
		{% endblock %}
	</head>
	<body>
		<header>
			<div class="nav">
				<div class="nav-center">
					<div></div>
					<ul class="nav-list">
						<li class="primary nav-obj underline">About</li>
						<li class="primary nav-obj underline" onclick='window.location.href = "/"'>Order</li>
						{% if session['logged_in'] %}
							<li class="primary nav-obj underline" id="logout-toggle">{{ session['name'] }}</li>
						{% else %}
							<li class="primary nav-obj" onclick='window.location.href = "/login"'><span class="shiny">Sign in</span></li>
						{% endif %}
					</ul>
					<div id="logout-menu" class="dropdown"><p id="logout-btn" onclick='window.location.href = "/logout"'><br>Log out</p></div>
				</div>
			</div>
		</header>
		<article>
			<div id="center-box">
				{% block content %}
				{% endblock %}
			</div>
		</article>
		{% block scripts %}
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/static/scripts/base.js"></script>
		{% endblock %}
	</body>
</html>