<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }} | Great Gates</title>
		<meta charset="utf-8">
		<link rel='stylesheet' href='/static/styles/base.css'>
		{% endblock %}
	</head>
	<body>
		<header>
			<div class="nav">
				<div class="nav-center">
					<div></div>
					<ul class="nav-list">
						<li class="primary nav-obj underline">About</li>
						<li class="primary nav-obj underline">Order</li>
						<li class="primary nav-obj"><span class="shiny">Sign in</span></li>
					</ul>
				</div>
			</div>
		</header>
		{% block content %}
		{% endblock %}
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
	</body>
</html>