{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel='stylesheet' href='/static/styles/buy.css'>
{% endblock %}

{% block content %}
	<div id="address-bar">
		<div class="entry">
			<div class="description label"><strong style="color: red;">*</strong>Location: </div>
			<input type="text" name="location" class="text-insert">
		</div>
		<div class="entry">
			<div class="description label"><strong style="color: red;">*</strong>Time: </div>
			<input type="text" name="time" class="text-insert">
		</div>
	</div>
	<div id="shop-container">
		{% for i in items %}
			<div class="item-wrapper">
				<img src="/static/images/{{ i }}.jpeg" class="thumbnail" height="150" width="150">
				<div class="text-box">
					<div class="description">{{ i }}</div>
					<div class="price">¥{{ items[i] }}</div>
					<div class="amount noselect">
						<div class="value-btn minus">-</div>
						<input type="text" name="{{ i }}" class="amount-box" value="0">
						<div class="value-btn add">+</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block extra %}
	<div id="info-bar">
		<div id="info">
			<span id="total-text">Total:</span>
			<span id="total">¥0</b>
		</div>
		<span id="submit-btn" class="inactive noselect">Submit</span>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="/static/scripts/buy.js"></script>
{% endblock %}