{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel='stylesheet' href='/static/styles/orders.css'>
{% endblock %}

{% block content %}
	<h1 class="welcome">Welcome, {{ session['name'].split(' ')[0] }}</h1>
	<div class="guide">
		<p class="secondary guide-text">This page contains all informations about your deliveries.</p>
		<p class="secondary guide-text">All orders are placed under your student ID.</p>
	</div>
	<div class="order-title"><span>Pending orders</span><span class="expand-symbol">+</span><hr></div>
	<div class="order-wrapper"></div>
	<div class="order-title"><span>Finished orders</span><span class="expand-symbol">+</span><hr></div>
	<div class="order-wrapper"></div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="/static/scripts/orders.js"></script>
{% endblock %}