{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link rel='stylesheet' href='/static/styles/orders.css'>
{% endblock %}

{% block content %}
	<h1 class="welcome">Welcome, {{ session['name'].split(' ')[0] }}</h1>
	<span class="shiny order-btn" onclick='window.location.href = "/buy"'>New order</span>
	<div class="guide">
		<p class="secondary guide-text">This page contains all informations about your deliveries.</p>
		<p class="secondary guide-text">
			All orders are placed under your student ID. 
			<hidden style="color: #FAFAFA;">which means we can and will hunt you down if you do something naughty!</hidden>
		</p>
	</div>
	<div class="order-title noselect" panel-id="pending-panel"><span>Pending orders</span><span class="expand-symbol">-</span><hr></div>
	<div class="order-wrapper" id="pending-panel">
		{% if not pending %}
			<p class="secondary nothing">Nothing to show here</p>
		{% else %}
			{% for i in range(pending|length) %}
				<div>
					<ul class="entry-table">
						<li class="horizontal-list"><b>Location:</b> {{ pending[i]['location'] }}</li>
						<li class="horizontal-list"><b>Time:</b> {{ pending[i]['time'] }}</li>
						<li class="horizontal-list" style="float: right;">
							<span style="position: absolute;"><b>Items:</b></span>
							<ul class="entry-table">
								{% for k, v in pending[i]['items'].items() %}
									<li class="item-list horizontal-list">{{ k }}: {{v}}</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
				<hr class="divide">
			{% endfor %}
		{% endif %}
	</div>
	<div class="order-title noselect" panel-id="finished-panel"><span>Finished orders</span><span class="expand-symbol">-</span><hr></div>
	<div class="order-wrapper" id="finished-panel">
		{% if not finished %}
			<p class="secondary nothing">Nothing to show here</p>
		{% else %}
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="/static/scripts/orders.js"></script>
{% endblock %}